C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\ExecutableDirectory
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\DataPredict.csv
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\neat_config.txt
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\neat-checkpoint-299
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\neat-checkpoint-199
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\neat-checkpoint-99
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\AiRefactor.py
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\AIAppraiser_scaler.pkl
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\AIAppraiser_price_scaler.pkl
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\AIAppraiser.neat
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\AIAppraiser.keras