C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\DataPredict.csv
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\neat_config.txt
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\neat-checkpoint-299
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\neat-checkpoint-199
C:\Users\user\PycharmProjects\SchoolProject\AIAppraiserAllFiles\AiDirectory\neat-checkpoint-99